.page {
  width: auto;

  font-family: "Inter", "Sans-serif";

  background: rgba(42, 44, 47, 1);
  color: rgba(255, 255, 255, 1);
  margin: auto;
}

@media screen and (max-width: 999px) {
  .page {
    min-height: 1659px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    min-height: 1550px;
  }
}
