.page {
  max-width: 80rem;
  font-family: "Inter", "Sans-serif";
  background-color: rgba(42, 44, 47, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
