.photogrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;

  padding-top: 118px;
  column-gap: 16px;
  row-gap: 16px;
}

.photogrid__imagem {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photogrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 544px) {
  .photogrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
  }
}
