.photogrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;

  padding-top: 118px;
  column-gap: 16px;
  row-gap: 16px;
}

.photogrid__item {
  width: fit-content;
  height: fit-content;
}

@media screen and (max-width: 1024px) {
  .photogrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .photogrid__item {
    padding-left: 16px;
    column-gap: 0;
  }

  .photogrid__item_image {
    width: 352px;
  }
}

@media screen and (max-width: 544px) {
  .photogrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .photogrid__item_imagem {
    width: 100%;
    padding-left: 0;
  }
}
