.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.place__title {
  max-width: 460px;

  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
}

.place__image {
  width: fit-content;
  height: fit-content;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  grid-row: 2;
  margin-right: 0;
}

.place__image:hover {
  opacity: 50%;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__frame {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  width: 356.08px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

  margin-top: 48px;
  grid-column: 1;
  grid-row: 3;
}

.place__frame:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );

  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__frame-paragraph {
  font-weight: 600;
  padding-left: 20px;
  font-size: 18px;
  height: 22px;
  text-align: center;
  line-height: 1.2;
}

.place__frame-paragraph-link {
  color: #ffffff;
  text-decoration: none;
}

.place__website {
  max-width: 456px;

  padding-top: 111px;
  grid-column: 2;
  grid-row: 1;
}

.place__url-heading {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12em;

  color: #aaaaaa;
}

.place__paragraph {
  grid-column: 2;
  grid-row: 2/4;
  font-weight: 400;
  line-height: 1.63;
  margin-top: 0;
}

.place__paragraph-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin-bottom: 25px;
  margin-top: 0;
  max-width: 484px;
}

.place-second {
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    padding-left: 24px;
    column-gap: 24px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .places {
    padding-left: 0;
  }
  .place__paragraph-text {
    font-size: 16px;
    line-height: 1.63;
  }

  .place-third {
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: fit-content;
  }

  .place {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0;
  }

  .place__website {
    grid-column: 1;
    grid-row: 2;
    padding-top: 0;
    padding-left: 16px;
  }

  .place__title {
    grid-column: 1;
    grid-row: 1;
    font-size: 32px;
    line-height: 1.1;

    padding-left: 16px;
  }

  .place__image {
    grid-column: 1;
    grid-row: 3;
    max-width: 320px;
    margin-bottom: 30px;
    box-shadow: none;
  }

  .place__paragraph {
    grid-column: 1;
    grid-row: 4;
    width: 288px;
    padding-left: 16px;
  }

  .place__frame {
    grid-column: 1;
    grid-row: 5;
    width: fit-content;

    margin-top: 0;
    margin-left: 16px;
    padding-right: 16px;
  }

  .place__frame-paragraph {
    font-size: 14px;
  }

  .place__image_foto {
    width: 100%;
  }
}
